<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>New Product Form</h1>
    <form action="/save" method="POST">
      <p><input type="text" name="name" placeholder="Product Name" /></p>
    <p><input type="text" name="description" placeholder="Product Description"></p>
<p><input type="number" name="price" placeholder="Product Price"></p>   
<p><input type="text" name="imageurl" placeholder="Image URL"></p> 
<p><button>Save</button></p>
</form>
  </body>
</html>