<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>User Signup Form</h1>
    <form action="/users/saveuser" method="POST">
      <p><input type="text" name="name" placeholder="Name" /></p>
      <p><input type="text" name="email" placeholder="Email" /></p>
      <p><input type="password" name="password" placeholder="Password" /></p>
      <p><button>Submit</button></p>
    </form>
  </body>
</html>